body {
    position: relative;
    font-family: dis-reg;
    background-color: $back;

    &::-webkit-scrollbar {
        background-color: $fff;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $orange;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $orange $fff;
}

.overflow {
    overflow: hidden !important;
}