@font-face {
    font-family: 'text-reg';
    src: url('../fonts/SF/SFProText-Regular.ttf');
}

@font-face {
    font-family: 'text-med';
    src: url('../fonts/SF/SFProText-Medium.ttf');
}

@font-face {
    font-family: 'text-bold';
    src: url('../fonts/SF/SFProText-Bold.ttf');
}

@font-face {
    font-family: 'dis-reg';
    src: url('../fonts/SF/SFProDisplay-Regular.ttf');
}

@font-face {
    font-family: 'dis-light';
    src: url('../fonts/SF/SFProDisplay-Light.ttf');
}

@font-face {
    font-family: 'dis-med';
    src: url('../fonts/SF/SFProDisplay-Medium.ttf');
}

@font-face {
    font-family: 'dis-bold';
    src: url('../fonts/SF/SFProDisplay-Bold.ttf');
}