/* start footer*/
footer {
    margin-top: $top;
    background-color: $text;
    padding-top: $top;

    @include sm {
        margin-top: 40px;
        padding-top: 40px;
    }

    .first-div {
        display: flex;
        flex-direction: column;

        @include sm {
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
        }
    }

    .logo {
        width: 165px;
    }

    .social {
        display: flex;
        align-items: center;
        margin-top: 20px;

        @include sm {
            align-items: center;
            justify-content: center;
        }
    }

    .social-link {
        margin-right: 9px;

        @include sm {
            margin-right: 15px;
        }

        &:last-of-type {
            margin-right: 0;
        }

        path {
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            path {
                fill: $orange;
            }
        }
    }

    .forms-links {
        .foot-link {
            color: $orange;

            &:hover {
                color: $fff;
            }
        }


    }

    .foot-li {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .foot-link {
        font-size: 15px;
        color: $fff;
        display: inline-flex;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $orange;
            transform: translateX(5px);
        }

        @include sm {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
    }

    .form-title {
        font-size: 15px;
        color: $fff;
        margin-bottom: 20px;
        display: block;

        @include sm {
            margin-top: 40px;
            text-align: center;
        }
    }

    .join-cont {
        border-radius: 24px;
        overflow: hidden;
        position: relative;
    }

    .join-input {
        height: 48px;
        width: 100%;
        padding: 0 21px;
        color: $text;
        font-size: 15px;

        &::placeholder {
            color: $grey;
        }
    }

    .join-button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 79px;
        background-color: $orange;
        font-size: 15px;
        color: $fff;
        @include transition(all 0.3s ease-in-out);
    }

}

.copyright {
    height: 40px;
    margin-top: $top;
    color: $fff;
    background-color: $right;
    font-size: 16px;
    font-family: dis-light;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm {
        margin-top: 40px;
    }
}

/* end footer*/