/* start header */
header {
    background-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 67px;

    @include sm {
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
}

.logo {
    width: 132px;
    display: block;

    @include sm {
        margin-bottom: 15px;
    }
}

.right-head {
    display: flex;
    align-items: center;
}

/*search*/

.search-cont {
    position: relative;
    margin-left: 5px;

    #{$rtl} & {
        margin: 0;
        margin-right: 5px;
    }

    @include sm {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 90%;
        z-index: 99;
        display: none;
        width: 262px;
        margin: 0;
        text-align: center;
    }
}

.search-input {
    width: 262px;
    height: 48px;
    background-color: $orange;
    border-radius: 24px;
    color: $fff;
    font-family: dis-light;
    font-size: 13px;
    padding-left: 53px;
    padding-right: 10px;

    #{$rtl} & {
        padding-left: 10px;
        padding-right: 53px;
        text-align: right;
    }

    &::placeholder {
        color: #fff;
        text-transform: capitalize;

    }
}

.search-button {
    position: absolute;
    left: 20px;
    background-color: transparent;
    top: 11px;

    #{$rtl} & {
        left: auto;
        right: 20px;
    }

    path {
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        path {
            fill: $text
        }
    }
}

/* end header */
.serch-ico {
    display: none;

    @include sm {
        display: block;
    }
}