.book-page {
    margin-top: $top;
}

.label-head {
    font-size: 20px;
    color: $text;
    font-family: text-reg;
    margin-top: 30px;
    display: block;
    margin-bottom: 20px;

    &.pay-hed {
        margin-top: 50px;
    }
}

.radios {
    display: flex;
    flex-direction: column;
}

/* Customize the label (the container) */
.custom-check {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: unset;
    white-space: nowrap;
    margin: 7px 0;
    width: max-content;

    &:last-of-type {
        margin-bottom: 0;
    }

    .label {
        font-size: 20px;
        color: $text;
        font-family: text-reg;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
            ~.checkmark {
                border: 1px solid $orange;

                &:after {
                    background-color: $orange;
                }
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid $orange;
        border-radius: 50%;
        @include transition(all 0.3s ease-in-out);

        &:after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10PX;
            height: 10PX;
            content: "";
            border-radius: 50%;
            background-color: transparent;
            @include transition(all 0.3s ease-in-out);
        }
    }
}

.line {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .form-input {
        width: 50%;
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0;
        }

        @include xs {
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    &.sec-line {
        margin-top: 0;
    }

    @include xs {
        flex-direction: column;
    }
}

.form-input {
    height: 48px;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 0 15px;
    font-family: 'text-reg';
    font-size: 16px;
    color: $text;
    background-color: transparent;
    @include transition(all 0.3s ease-in-out);

    &::placeholder {
        color: rgba($grey, 0.5);
    }

    &:focus {
        border-color: $orange;
    }
}

.occasions {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #979797;
    background-color: transparent;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: rgba($grey, 0.5);
}

.form-area {
    height: 155px;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 15px;
    font-family: 'text-reg';
    font-size: 16px;
    color: $text;
    width: 100%;
    resize: none;
    background-color: transparent;
    @include transition(all 0.3s ease-in-out);

    &::placeholder {
        color: rgba($grey, 0.5);
    }

    &:focus {
        border-color: $orange;
    }
}

.submit {
    background-color: $green;
    color: $fff;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-family: text-med;
    @include transition(all 0.3s ease-in-out);
    margin-top: 60px;

    &:hover {
        background-color: $orange;
    }
}

.how {
    background-color: $fff;
    padding: 30px 25px;
    width: 100%;
    border-radius: 10px;
    text-align: center;

    @include xs {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.how-head {
    letter-spacing: -0.01px;
    color: $orange;
    opacity: 1;
    font-size: 25px;
    font-family: text-reg;
    margin-bottom: 20px;
}

.how-texy {
    font-size: 16px;
    color: $text;
    font-family: text-reg;
    line-height: 40px;
}