.cat-page {
    &::before {
        background-color: transparent;
        background: linear-gradient(120deg, rgba(255, 145, 0, 0) 0%, rgba(255, 145, 0, 1) 100%);
    }

    &:after {
        background: linear-gradient(120deg, rgba(255, 145, 0, 1) 0%, rgba(255, 196, 0, 1) 100%);
        opacity: 0.8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
    }
}