.forms-head {
    font-size: 34px;
    font-family: text-reg;
    text-align: center;
    margin-top: 70px;
    color: $text;

    @include xs {
        font-size: 25px;
        margin-top: 40px;
    }
}

.forms {
    margin-top: 60px;
    display: flex;

    @include xs {
        margin-top: 40px;
        flex-direction: column;
    }

    .submit {
        margin-top: 13px;
        background-color: $orange;
        border: 1px solid $orange;

        &:hover {
            background-color: transparent;
            color: $orange;
        }
    }

    >div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include xs {
            width: 100%;
        }

        form {
            width: 360px;

            @include xs {
                width: 100%;
            }

            &.enroll {
                margin-top: 65px;

                @include xs {
                    margin-top: 25px;
                }
            }

            &.log {
                margin-top: 33px;

                @include xs {
                    margin-top: 25px;
                }
            }
        }

    }

    .form-input {
        width: 100%;
        margin-bottom: 20px;
    }

}

.condition {
    font-size: 15px;
    color: $text;

    .cond-link {
        font-size: 15px;
        color: $orange;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $grey;
        }
    }
}

.form-title {
    font-family: dis-med;
    font-size: 21px;
    color: $text;
}

.form-subhead {
    font-family: dis-reg;
    font-size: 16px;
    color: $text;
    margin-top: 15px;
}

.check {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    color: $text;
    margin-bottom: 8px;

    input {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
}

.forget-cont {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 18px;

    .forget {
        font-size: 15px;
        color: $text;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $orange;
        }
    }
}

.enroll-form {
    border-right: 1px solid #979797;

    @include xs {
        border: none;
        margin-bottom: 40px;
    }
}