.person-info {
    margin-top: $top;

    @include xs {
        margin-top: 40px;
    }
}

.person-big-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: block;

    &::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-color: rgba(#000, 0.24);
        content: "";
    }
}

.person-div-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
        margin-top: 25px;
    }
}

.person-big-name {
    display: flex;
    flex-direction: column;

    .sec-head {
        text-align: left;
        margin: 0;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $orange;
        }
    }

    .person-job {
        font-size: 24px;
        color: $grey;
        font-family: text-med;
    }
}

.rate {
    text-align: center;

    .reviews {
        font-size: 16px;
        font-family: text-reg;
        color: $grey;
        text-align: center;
        margin-top: 2px;
        display: block;
    }
}

.person-about {
    margin-top: 25px;
}

.person-about-head {
    font-size: 20px;
    color: $text;
    font-family: text-reg;
    margin-bottom: 15px;
}

.person-about-text {
    font-size: 16px;
    color: $grey;
    font-family: text-reg;
}

.time {
    margin-top: 25px;
}

.person-time-head {
    font-size: 18px;
    color: $text;
    font-family: text-reg;
    margin-bottom: 10px;
}

.person-time-text {
    font-size: 16px;
    color: $orange;
    font-family: text-reg;


}

.person-cats {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid rgba(#707070, 0.52);

    .tags {
        display: flex;
        align-items: center;

        @include xs {
            justify-content: center;
        }
    }

    .tag {
        height: 32px;
        border-radius: 16px;
        background-color: rgba($grey, 0.329);
        margin-right: 6px;
        padding: 0 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text;
        font-size: 13px;
        font-family: dis-light;

        &:last-of-type {
            margin: 0;
        }
    }
}

.person-cats-head {
    font-size: 18px;
    color: $text;
    font-family: text-reg;
    margin-bottom: 25px;

    @include xs {
        text-align: center;
    }
}

.latest {
    margin-top: $top;

    @include xs {
        margin-top: 40px;
    }
}

.latest-haed {
    font-size: 30px;
    color: $text;
    font-family: text-med;

    @include sm {
        text-align: center;
    }
}

.latest-img {
    margin-top: 35px;

    @include sm {
        margin-top: 25px;
    }

    .owl-dots {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;


        .owl-dot {
            background: rgba(#000, 0.55);
            outline: none;
            border: none;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $orange;
                pointer-events: none;
            }

            &:hover {
                background: $orange;
            }
        }
    }
}

.person-slider-img {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;



    img {
        width: 100%;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}